---
# kate: hl markdown;
title: "Was Sonst Noch Geschah"
date: 2013-05-08 14:40
comments: true
tags: [central-america, german, travelling]
lang: de
layout: post-carribeans
---


### Zu Heiß Zum Schreiben


<%= figure_tag '/images/central-america/beach-petit-havre.jpg', title: 'Schönes Plätzchen: Petit Havre' %>
{:.pull-right}

Die Zeit vergeht wie im Flug. Die veregnete Woche gerät immer mehr in Vergessenheit.
Bei tagtäglich über 30°C ist es eigentlich zu warm zum Schreiben – und für alles
andere eigentlich auch – nur gut, dass ich nichts tun muss. Naja, da wären ja
meine freiwilligen Französisch-Hausaufgaben. Ich hoffe, dass ich noch Gelegenheit
finde mich darin zu vertiefen. Bislang bin ich praktisch nie dazu gekommen, da
sich stets Ablenkung gefunden hat.

<!-- more -->

### Die Deutsche Enklave

Am 3. April bin ich umgezogen. Ich wohne jetzt nicht mehr in der Jugendherberge,
sondern mit Max in einer 3-Zimmer Wohnung in Le Gosier. Nachdem die letzten
Umzüge in Berlin stets viel Aufwand bedeuteten, ging es diesmal ganz schnell:
Rucksack packen, 7 km Auto fahren, Rucksack auspacken. Die neue Bleibe ist wesentlich
zentraler und zudem haben wir noch einen Leihwagen, dessen Unkosten wir uns teilen.
Neben mehr Platz, etwas mehr Ruhe und einem Tisch zum Arbeiten, ist die Wohnung
dennoch nicht teurer. Soweit so gut.

Allerdings gibt es auch ein paar Nachteile. Max ist ein deutscher Medizin-Student
aus Köln, der hier sein Praktisches Jahr absolviert[^1]. Französisch-Kenntnisse
waren keine Voraussetzung. Das sind natürlich nicht die optimalen Bedingungen um
Französisch zu lernen. Es ist ein Kompromiss. Davon einmal abgesehen ist unsere WG
sehr harmonisch und es gefällt sehr gut.

Unsere Wohnung befindet sich auf dem Gelände mit weiteren Wohnungen, die unter
anderem von zwei weiteren deutschen Medizin-Studenten (PJler) belegt sind.
Natürlich sind die deutschen PJler Guadeloups gut vernetzt – und wenn diese mich einladen
etwas zu unternehmen, dann fahren wir zu neunt (davon vier aus Berlin) in drei Autos und machen Guadeloupe
unsicher. So habe ich mir das nicht vorgestellt. Es ist aber auch schwierig so ein
Angebot abzulehnen.

<%= figure_tag '/images/central-america/pointe-a-pitre-night.jpg', title: 'Pointe-à-Pitre bei Nacht (das Marzahn Guadeloups)' %>

[^1]: In Guadeloupe läuft das alles nicht so streng. Praktisch hat er genauso
      Urlaub wie ich auch und ist nur selten im Krankenhaus. Ein Geheimtipp für
      alle Medizinstudenten.

Zum Strand von Le Gosier sind es etwa 15 Minuten zu Fuß. Gleich Gegenüber befindet
sich die unbewohnte Insel „L’îlet de Gosier“ mit einem verlassenen Leuchtturm.
Seit meinem Umzug schwimme ich jeden zweiten Tag hin und zurück. Im Anschluss
essen Max und ich häufig [Agoulou](http://lili971recette.over-blog.com/article-35815280.html),
den Hamburger Guadeloupes. Wenn ich Zeit habe, werde ich ihm einen Wikipedia-Artikel
widmen – damit wäre ich der Erste (in englisch, französisch und deutsch).

<%= figure_tag '/images/central-america/ilet-de-gosier.jpg', title: 'L’îlet de Gosier: Meine 500m-Schwimmbahn auf offener See.', width: '400px' %>
{:.pull-right}

Nur, weil jeden Tag Strandwetter ist, machen wir natürlich immernoch häufig
Ausflüge um die Insel zu erkunden.

### Basse-Terre

Neben den touristischen Wasserfällen im Süden des Inselteils Basse-Terre, gibt
es noch viele weitere kleinere Wasserfälle. Einen davon habe ich zusammen mit
Franzosen `:)` aus der Herberge besucht, als ich noch dort wohnte. Der Weg führt
von der Straße ausgehend den Berg hinunter in den tropischen Wald hinein. Kaum
war das Auto außer Sicht, fing es – für Basse-Terre typisch – leicht zu regnen an.
Nur wenig später goss es wie aus Eimern. Als wir das Flussbett im Tal endlich
erreichten, war es nicht nur der Wasserfall, der den Fluss speiste: Das Wasser
kam einfach aus allen Richtungen. Leider blieb mir nicht viel Zeit unten. Ich habe
ein paar Aufnahmen gemacht und dann nicht mehr geschafft baden zu gehen `:(`.
Der Aufstieg war etwas komplizierter, da aus den Pfaden Bäche geworden waren. Nachdem
wir unseren Ausgangspunkt, die Straße, schließlich wieder erreichten, hörte es
gleich auf zu regnen und die Sonne trat zum Vorschein. So ist Basse-Terre.

<%= figure_tag '/images/central-america/waterfall-2-pool.jpg', title: 'Noch ein Wasserfall in Basse-Terre.' %>

<div class="thumbnail" markdown="0" style="width: 690px">
<video controls="controls">
  <source src="/images/central-america/waterfall-2.webm" type="video/webm"/>
  Installiere Firefox oder einen anderen webm-kompatiblen Browser um das Video
  direkt zu sehen. <a href="/images/central-america/waterfall-2.webm">Hier</a>
  herunterladen.
</video>
<div class="caption">Es regnet in Strömen. Ich probiere meine „Technik“ trocken zu halten.</div>
</div>

Bei einem zweiten Ausflug nach Basse-Terre mit der Deutschen Community hatten wir
mehr Glück. Nach einem kurzen – meinem ersten – Spaziergang durch eine Bananenplantage
und ein Stück Tropenwald, erreichen wir bei konstant schönem Wetter einen Wasserfall
mit Pool. Entlang der Felswand gelangt man trotz starker Strömung hinter den Wasserfall
und kann sich von dort aus vor den Wasserfall stürzen. Im Vergleich zum Meer ist
das Wasser sehr, sehr kalt, aber ebenso klar: Für uns eine willkommene Erfrischung.

<%= figure_tag '/images/central-america/banana-plantation.jpg', title: 'Bananenplantage: Die Bananen werden in blauen Müllsäcken verpackt.' %>

<%= figure_tag '/images/central-america/waterfall-3-pool.jpg', title: 'Der dritte Wasserfall in Basse-Terre bei diesmal schönem Wetter! <br/> Einen Bonus gibt es dafür, dass man hinter den Wasserfall schwimmen kann um sich von dort aus in die Kaskade zu stürzen.' %>

<%= figure_tag '/images/central-america/grill-rim.jpg', title: 'Testergebnis: Sehr gut (1,0) <br/> Eine Radfelge im Test.' %>

Am Abend fahren wir an die Westküste. Wir grillen behelfsmäßig auf einer Autoradfelge,
die die anderen irgendwo aufgetrieben haben. Zu meiner Überraschung funktioniert das
blendend. In den heißen Quellen lassen die anderen den Abend ausklingen. Ich bin dazu
schon zu müde und schlafe etwas am Strand.

Spät in der Nacht setzen wir unsere Freunde in Pointe-á-Pitre ab. Obiges Photo
habe ich aus ihrer Wohnung heraus aufgenommen. Ich mache erste Erfahrungen mit Schaben.
Ganz schön schnell, diese Tiere. Danach fahren auch wir nach Hause. In der Nacht
schlafe ich schlecht, weil ich noch kein Moskito-Netz habe. Erst für letzte Nacht
habe ich mir eins kaufen können.

### Die Spanische Enklave

Natürlich probiere ich stets Möglichkeiten zu finden um mein Französisch zu verbessern
oder einfach interessante Leute zu treffen. Ich habe via Couchsurfing einen Spanier
auswendig gemacht, der ebenfalls in Le Gosier wohnt. Nachdem ich nun auch hier
wohne, haben wir uns vergangenen Samstag getroffen. Francisco ist ziemlich nett.
Wir unterhalten uns auf Französisch, oder manchmal auch auf Englisch. Am gleichen
Abend hat er uns noch auf eine Wohnungseinweihnungsparty ein paar Häuser weiter mitgenommen. Francisco,
und die dortige Gastgeber nehmen alle an einem Sprachassistenz-Programm teil. Sie
bleiben für acht (?) Monate in Frankreich und unterstützen den Fremdsprachenunterricht.
Bis auf zwei Ausnahmen aus den USA, scheinen sämtliche Assistenen aus Spanien zu kommen.
Desto später der Abend wurde, desto mehr Spanier tauchten bei dieser Feier auf.

Spanier kennenzulernen ist hier offenbar einfacher als sich den Franzosen anzunähern.
Die Chancen stehen aber gut, dass auch das bald einfacher wird.

### Couchsurfing

Da wir eine Matratze extra haben, werden wir morgen einen Couchsurfer aus Frankreich
(also dem Mutterland) aufnehmen. Mit dem können wir bestimmt Französisch sprechen.
`:)`